:root {
	--main-title-color: #212121;
	--second-title-color: #ffffff;
	--main-text-color: #757575;
	--logo-color-web: #2196f3;
	--logo-color-studio: #000000;
	--accent-color: #2196f3;
	--btn-color: #2196f3;
	--nav-text-color: #212121;
	--footer-emailtel-color: rgba(255, 255, 255, 0.6);
}